body {
  background-color: #ffffff;
  color: #212121;
}

.list {
  list-style: none;
}

/* синий цвет #2196F3 */

/* основной черный цвет #212121 */

/* вторичный серый цвет #757575 */

/* белый цвет #FFFFFF */

/* фон белый  #FFFFFF */

/* белый фон вторичный #F5F4FA */

/* фон черный #2F303A */
