

.list {
  list-style: none;
}

.logo:hover {
  color: #2196f3;
}

/* site nav */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* site contacts */
.site-contacts .link {
  color: #212121;

.site-contacts:hover {
  color: #2196f3;
}

/* секции */

.section-post {
  color: #E5E5E5;
}



/* синий цвет #2196F3 */

/* основной черный цвет #212121 */

/* вторичный серый цвет #757575 */

/* белый цвет #FFFFFF */

/* фон белый  #FFFFFF */

/* белый фон вторичный #F5F4FA */

/* фон черный #2F303A */
